@model CRUDProducto.Models.Producto

@{
    ViewBag.Title = "Eliminar";
}

<h2>Delete</h2>

<h3>Esta seguro que quiere eliminar el registro?</h3>
<div>
    <h4>Producto</h4>
    <hr />

  
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @Html.HiddenFor(model => model.Id)
    <input type="submit" value="Borrar" class="btn btn-default" /> |
    @Html.ActionLink("Volver a la lista", "Index")
</div>
    }
</div>
